@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

.header-content {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.header-list {
    display: flex;
}

.header-nav {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}



.header-list li {
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    list-style: none;
    margin: 0 0.5em;
    outline: none;
    padding: 1em;
}

.header-list li:hover {
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
